.Board__grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding-left: 1px;
  padding-top: 1px;
}

.Board__cell {
  border: 1px solid #15616d;
  position: relative;
  height: 50px;
  margin-left: -1px;
  margin-top: -1px;
  width: 50px;
}

.Board__cell--empty {
  background: #15616d;
}

.Board__cell--hit {
  background: #15616d;
}

.Board__cell--hit > svg {
  fill: #e63946;
  height: 100%;
  padding: 0.6em;
  width: 100%;
}

.Board__cell--unknown {
  background-color: #001524;
}

.Board__cell--unknown > svg {
  fill: #267373;
  height: 100%;
  padding: 0.5em;
  width: 100%;
}

.Board__cell__state {
  bottom: 0;
  font-size: 0.6em;
  font-weight: bold;
  left: 0;
  padding: 0 0.2em;
  position: absolute;
  text-align: left;
  text-transform: uppercase;
}

.Board__cell__state--empty {
  background-color: rgba(255, 255, 255, 0.85);
  color: #15616d;
}

.Board__cell__state--hit {
  background-color: #fff;
  color: #e63946;
}

.Board__cell__label {
  font-size: 0.6em;
  left: 0;
  padding: 0 0.4em;
  position: absolute;
  text-align: left;
  top: 0;
  width: 100%;
}

.Board__cell__ship {
  bottom: 0;
  position: absolute;
  right: 0;
}

.Board__cell__ship svg {
  display: block;
  fill: #fcca46;
  height: 1em;
  width: 1em;
}
