.Board {
  --board-tile-size: 50px;
  --board-tile-border-width: 1px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding-left: var(--board-tile-border-width);
  padding-top: var(--board-tile-border-width);
}

.Board__cell {
  border: 1px solid #15616d;
  height: var(--board-tile-size);
  margin-left: calc(-1 * var(--board-tile-border-width));
  margin-top: calc(-1 * var(--board-tile-border-width));
  position: relative;
  width: --board-tile-size(--board-tile-size);
}

.Board__cell__ship-marker {
  bottom: 0;
  position: absolute;
  right: 0;
}

.Board__cell__ship-marker__icon {
  display: block;
  fill: #fcca46;
  height: 1em;
  width: 1em;
}
